
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 引入bootstrap的css -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap3/css/bootstrap-theme.css}">
    <!-- 必须先引入jquery的js -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- 引入bootstrap的js -->
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap3/js/bootstrap.js}"></script>

    <!-- 引入table的css、js文件 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-table/bootstrap-table.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-table/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <!-- 引入表格的css、js文件 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-table/bootstrap-table.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-table/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

    <!-- 引入日期的css、js -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

    <!-- 引入bootbox的js -->
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-bootbox/bootbox.js}"></script>
    <!-- 引入fileinput的css、js -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-fileinput/css/fileinput.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-fileinput/js/fileinput.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-fileinput/js/locales/zh.js}"></script>


    <!-- 引入treeview的css和js -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js}"></script>

    <!-- 引入addTabs的css和js -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>


    <!-- 引入bootbox的js -->
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-bootbox/bootbox.js}"></script>

    <!-- 引入fileinput的css、js -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-fileinput/css/fileinput.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-fileinput/js/fileinput.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap-fileinput/js/locales/zh.js}"></script>

    <!-- 引入easyui的主js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的支持中文的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
</html>